#konteiner {
    max-width: 800px;
    background-color: lightpink;
    min-height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    padding: 20px;
}
.uudis {
    margin-bottom: 30px;
    max-width: 800px;
    background-color: lightpink;
    min-height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    padding: 20px;
}

.uudis-kuupaev {
    font-size: 0.75em;
    color: rgb(92, 51, 22);
}
img.uudis-pilt {
    width: 100%;
    margin-top: 10px;
}