body {
    background-color: grey;
}
h1 {
    color: royalblue;
    font-size: 3.5em;
}
li {
    font-size: 3em;
    background-color: lightblue;
    color: brown;
}
.paaris {
    color: yellow;
}
#konteiner {
    background-color: burlywood;
}